$black: #000000;
$grey: #8d8d94;
$grey-darken: #6d787a;
$white: #ffffff;
$grey-light: #6d787a;
$blue-primary: #0b6ffa;
$grey-surface: #f8f9f9;
$yellow-sunny: #ffd700;
$blue-secondary: #5c9df6;

$border-divider: 1px solid #ededed;

$mobile: 768px;
