@import "../styles/variables";

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none; // Remove underline
  color: inherit; // Use parent text color
  font-weight: inherit; // Inherit font weight
  font-size: inherit; // Inherit font size
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
//

#root {
  background-color: $white;
}

body {
  font-family: "Lato", sans-serif;
}
