@import "../../styles/variables";
@import "../../styles/typography.module";

.burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  left: 20px;
  position: absolute;
  border-bottom: $border-divider;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: scroll;
  transition: left 0.3s ease-in-out;
}

.menuContainer.open {
  left: 0;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: $mobile;
  background-color: $white;

  & ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 28px;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menuItem {
  @extend .title2;
  padding: 14px 20px;
  letter-spacing: 4px;
}
